.prescription-container {
   max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .prescription-head{
    text-align: center;
    font-size: 3rem;
    flex: 1;
   
  }

  button {
    margin-top: 10px;
  }
  
  .loading {
    margin-top: 10px;
    font-style: italic;
  }
  
  .ocr-result {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  